<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animador</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <img class="sup_header" src="../static/img/detail.png" width="400" height="20">

    <header class="header">
        <img class="title-logo" src="../static/img/logo_muspersonality.png" width="600" height="120">
    </header>

    <h1 class="headLiner_persona">Personalidade Animador</h1>
    <form name="Animador" action="" method="post">

        <img class="personalidade" src="../static/img/ANIMADOR.png">

        <h5 class="text">Se alguém é visto cantando e dançando espontaneamente, essa é a pessoa com a personalidade de
            Animador. Os Animadores ficam presos na excitação do momento, e querem que todos os outros se sintam assim
            também. Nenhum outro tipo de personalidade é tão generosa com seu tempo e energia como os Animadores quando
            se trata de encorajar outros, e nenhum outro tipo de personalidade o faz com um estilo tão irresistível.
        </h5>
</body>

</html>