<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consul</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <img class="sup_header" src="../static/img/detail.png" width="400" height="20">

    <header class="header">
        <img class="title-logo" src="../static/img/logo_muspersonality.png" width="600" height="120">
    </header>

    <h1 class="headLiner_persona">Personalidade “Cônsul”</h1>
    <form name="Cônsul" action="" method="post">

        <img class="personalidade" src="../static/img/CONSUL.png">

        <h5 class="text">As pessoas que compartilham a personalidade Cônsul são, por falta de uma palavra melhor,
            populares – o que faz sentido, dado que também é um tipo de personalidade muito comum, constituindo doze por
            cento da população. Na escola secundária, os Cônsules são os chefes de torcidas e os capitães de times
            ajustando o tom, tomando o projetor e conduzindo suas equipes para a vitória e à fama. Mais tarde na vida,
            os Cônsules continuam a gostar de apoiar seus amigos e entes queridos, organizando reuniões sociais e
            fazendo o melhor para garantir que todos estão felizes.</h5>
</body>

</html>