<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empresario</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <img class="sup_header" src="../static/img/detail.png" width="400" height="20">

    <header class="header">
        <img class="title-logo" src="../static/img/logo_muspersonality.png" width="600" height="120">
    </header>

    <h1 class="headLiner_persona">Personalidade Empresário</h1>
    <form name="Empresario" action="" method="post">
    
    <img class="personalidade" src="../static/img/EMPRESARIO.png">
    
    <h5 class="text">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</h5>
</body>

</html>