<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste De Personalidade</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <header class="header">
        <img src="../static/img/Spotify.png" width="50" height="25">
    </header>
    <h1 class="headLiner">Sugestor de Playlist</h1>
    <form name="TesteVocacional" action="" method="post">

        <div class=" Grupo">
            <div class="CardMusic">
                <img src="../static/img/pop.png" width="200" height="200">
                <h5>POP</h5>
                <input type="number" min="1" max="20" name="question1">
            </div>
            <div class="CardMusic">
                <img src="../static/img/rock.png" width="200" height="200">
                <h5>ROCK</h5>
                <input type="number" min="1" max="20" name="question2">
            </div>
            <div class="CardMusic">
                <img src="../static/img/pagode.webp" width="200" height="200">
                <h5>PAGODE</h5>
                <input type="number" min="1" max="20" name="question3">
            </div>
            <div class="CardMusic">
                <img src="../static/img/Eletronic.jpg" width="200" height="200">
                <h5>POP ROCK</h5>
                <input type="number" min="1" max="20" name="question4">
            </div>
            <div class="CardMusic">
                <img src="./static/img/sertanejo.jpg" width="200" height="200">
                <h5>SERTANEJO</h5>
                <input type="number" min="1" max="20" name="question5">
            </div>

        </div>
        <div class="button">
            <input type="submit" name="Enviar">
        </div>
    </form>
</body>

</html>