<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inovador</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <img class="sup_header" src="../static/img/detail.png" width="400" height="20">

    <header class="header">
        <img class="title-logo" src="../static/img/logo_muspersonality.png" width="600" height="120">
    </header>

    <h1 class="headLiner_persona">Personalidade Inovador</h1>
    <form name="Inovador" action="" method="post">

        <img class="personalidade" src="../static/img/INOVADOR.png">

        <h5 class="text">Pessoas com a personalidade de Empresário tem um impacto imediato em seus arredores – o melhor
            jeito de localizá-los numa festa é procurar um monte de pessoas tentando se encaixar quando movem de grupo
            para grupo. Rir e entreter com um humor direto e terroso, as personalidades de Empresário adoram ser o
            centro das atenções. Se um membro da audiência for chamado ao palco, o Empresário será um voluntário – ou
            eles sugerem um amigo tímido.</h5>
</body>

</html>