<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Mediador</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <img class="sup_header" src="../static/img/detail.png" width="400" height="20">

    <header class="header">
        <img class="title-logo" src="../static/img/logo_muspersonality.png" width="600" height="120">
    </header>

    <h1 class="headLiner_persona">Personalidade Mediador</h1>
    <form name="Mediador" action="" method="post">

        <img class="personalidade" src="../static/img/MEDIADOR.png">

        <h5 class="text">Personalidades de Mediador são verdadeiros idealistas procurando o melhor mesmo nas piores
            pessoas e eventos, procurando um jeito de melhorar as coisas. Enquanto eles podem ser vistos como calmos,
            reservados, ou mesmo tímidos, Mediadores têm uma chama interior e uma paixão que pode realmente brilhar.
            Composto por apenas 4% da população, o risco de se sentir incompreendido é infelizmente alto para as pessoas
            com personalidade de Mediador – mas quando eles encontram pessoas com a mesma opinião para passar seu tempo,
            a harmonia que sentem será uma fonte de alegria e inspiração.</h5>
</body>

</html>